* 
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body 
{
    padding: 10px;
}

/* header title */
header {
    padding: 30px;
    text-align: center;
    background: white;
}
nav a
{
    border-top: 4px solid #4c9777;
}
header h1 {
    font-size: 50px;
}

/* style the top navigation bar */
/* nav {
    overflow: hidden;
    background-color: black;
} */

/*
sticky code
*/
.sticky
{
    position : fixed;
    top : 0;
    width: 100%;
}

.photo
{
    top: 100px;
}
.sticky + .photo
{
    padding-top: 260px;
}

/* style the nav links */
nav a {
    font-family: 'Smooch Sans', sans-serif;
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    /* margin: 20px 22px; */
    text-decoration: underline;
}

/* change color on hover */
nav a:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

/* style body content */
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

p
{
    line-height: 150%;
    text-align: justify;
}

/* footer */
#thefooter{
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-style: italic;
    word-spacing: 15px;
}

#thefooter a
{
    font-weight: bold;
    text-decoration: none;
}

/* responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px){
    nav a {
        float: none;
        width: 100%;
    }
}
