* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

/* header title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
}

/* style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change color on hover */
.topnav a:hover {
    background-color: grey;
    color: black;
}

/* footer */
.footer {
    padding: 20px;
    text-align: center;
    margin: 20px;
}

/* responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px){
    .topnav a {
        float: none;
        width: 100%;
    }
}