/*
Assignment 1 : Group Project
Team Members : Nelson, Joy, Tdang, Augi, Uzman
*/

/* Universal CSS*/

*
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    min-height: 100vh;
    width: 100%;
    background: rgb(231,215,251);
    background: linear-gradient(0deg, rgba(231,215,251,1) 0%, rgba(255,255,255,1) 100%);
}

                                           /* Index HTML CSS*/
/* Navbar CSS*/
.navbar {
    background: rgb(208, 199, 218);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    background-image: linear-gradient(to top, #8b05c0 0%, #ff99cc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
  
  #navbar__logo img {
    margin-right: 0.5rem;
    width: 10%;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: 700;
  }

  .navbar__links:hover {
    color: #d878d0;
    text-decoration: underline;
    background: black;
    margin: 0px 6px;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: rgb(46, 46, 46);
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

/* Index Image CSS */
#index_img
{
    float: left;
    width: 50%;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: 6px 6px 4px rgba(0,0,0,0.33);
}

/* Index Content CSS */
.container
{
    margin: 100px auto;
    width: 80%;
    padding: 8px;
}

.content
{
    font-size: 18px;
    text-align: justify;
    line-height: 220%;
}

/* Footer CSS */
 .mainfooter
 {
     position: sticky;
     top: 100%;
     height: 120px;
     width: 100%;
     background-color: rgb(32, 32, 32);
 }
 .f_container
 {
     padding: 20px;
     text-align: center;
     line-height: 40px;
 }
 
 .f_container h3
 {
     color: white;
 }
 .f_container li 
 {
     list-style-type: none;
     display: inline;
     word-spacing: 40px;
 }
 
 .f_container li a
 {
     text-decoration: none;
     font-weight: 900;
     color: rgb(136, 106, 150);
     transition: 0.4s;
 }
 
 .f_container li a:hover
 {
     color: rgb(218, 20, 208);
 }

                                            /* Topic HTML CSS*/
.content_topic
{
    padding: 40px;
    line-height: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
}

.content_topic h1 
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding: 20px;
}

#sidenav a 
{
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 11px;
  color: black;
  border-radius: 0 5px 5px 0;
}

#sidenav a:hover
{
  left: 0;
}

#p {top: 150px; background-color: rgb(122, 122, 139);}
#d {top: 250px; background-color: rgb(122, 122, 139);}
#m {top: 350px; background-color: rgb(122, 122, 139);}
#g {top: 450px; background-color: rgb(122, 122, 139);}
#r {top: 550px; background-color: rgb(122, 122, 139);}

aside
{
  padding: 15px;
  margin: 15px;
  float: center;
}

/* table */
    table,th,td{
      border: 3px solid;
      text-align: center;
    }
    table,th,td{
      border: 3px solid;
      text-align: center;
    }
    table{
    table-layout:fixed;width:40%;
    margin-top: -447px;margin-left: 710px;
    line-height: 2;
    box-shadow: 0 0 20px;
    border-collapse: separate;
    border-radius: 7px;
    }
    th{
    background-color: #21d190;
    color:#ffffff;
    }
    tr{
    border-bottom: 10px solid #dddddd;
    }
    tbody {
    background:linear-gradient(#21d190,#d65bca);
    font-weight: bold;
    }

    #purpose, #development, #management, #growth, #related
    {
        padding-top: 80px;
    }

                                            /* Quiz HTML CSS*/
.quiz_content
{
  padding: 80px;
}

.f_section
{
  font-size: 22px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
}

.quiz_content fieldset
{
  padding: 14px 16px;
  line-height: 40px;
  box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.2) ;
  background-color: rgba(227, 190, 241, 0.2);
}

.quiz_content input[type=text]
{
  padding: 8px 12px;
  margin: 8px 0px;
  background-color: rgba(227, 190, 241, 0.1);
  border: none;
  border-bottom: 2px solid rgb(171, 38, 175);
  transition: 0.3s;
}

.quiz_sec
{
  padding: 20px;
  text-align: center;
  border: 2px solid black; 
	box-shadow: 3px 3px; 
	border-radius: 20px;
	margin: 50px 20px;
}

.quiz_sec select
{
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  background-color: rgba(227, 190, 241, 0.1);
  border-bottom: 2px solid rgb(171, 38, 175);
  font-weight: 800;
  text-align: center;
  color: rgb(56, 56, 56);
  letter-spacing: 4px;
}

/*Quiz CSS*/
#idsec {text-align: center;}
#q2 {columns: 2; text-align: center;}
#q3d {columns: 2; text-align: center;}
#q5d {text-align: center;}
.q5 {text-align: center;}
.filler_1 {visibility: hidden;}
.filler {text-align: center;}
.q3, .q2 {
	display: flex; 
	align-items: center; 
	padding-left: 250px;
	}

.submitbtn
{
    text-align: center;
}
.submitbtn input
{
  padding: 16px 32px;
  margin: 8px 2px;
  background-color: rgb(186, 148, 196);
  color: white;
  font-weight: 800;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 20px;
}

.submitbtn input:hover
{
  border: rgb(186, 148, 196);
  background-color: rgb(62, 45, 66);
  color: whitesmoke;
  border-radius: 20px;
}

                                            /* Enhancement HTML CSS*/
